@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: grid;
  height: 100%;
  place-items: center;
  background: linear-gradient(375deg, darkred, black);
   transform-style: preserve-3d;
}
.profile{
  height: 400px;
  width: 330px;
  position: relative;
  perspective: 1000px;
}
.profile .card{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.profile:hover>.front{
  transform: rotateY(-180deg);
}
.profile .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.profile .back{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: rotateY(180deg);
}
.profile:hover>.back{
  transform: rotateY(0deg);
}
.profile .back img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 5px;
  background: grey;
}
.profile .back .info{
  text-align: center;
}
.profile .back .info .title{
  font-size: 35px;
  font-weight: 500;
}
.profile .back ul{
  display: flex;
}
.profile .back ul a{
  display: block;
  height: 40px;
  width: 40px;
  background: linear-gradient(375deg, darkred, black);
  text-align: center;
  justify-content: center;
  border: 3px solid transparent;
  line-height: 45px;
  margin: 0 5px;
  border-radius: 50%;
  color: white;
  transition: all 0.3s ease-in;
}
.profile .back ul a:hover{
  background: none;
  color: darkred;
  border-color: darkred;
}