@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
.profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-color: darkred;
  border-radius: 24px 24px 0 0;
}
.image{
  
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid darkred;
  padding: 0 5px 5px 0;
}
.profile-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}
.text-data{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.name{
  font-size: 22px;
  font-weight: 500;
}
.job{
  font-size: 18px;
  font-weight: 400;
}
.media-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.link{
  font-size: 25px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #fff;
  background-color: darkred;
  text-decoration: none;
}
.buttons{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.button{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border: 3px solid #fff;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px ;
  background-color: darkred;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.button:hover{
  background-color: #fff;
  color: darkred;
  border-color: darkred;
}